body {
  background: url(../images/background_03.jpeg); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  font-family: sans-serif; 
  padding: 2%; 
}
  
#greeting-message {
  font-size: 2em; 
  text-shadow: 2px 2px #f3eded;
}

#card-header {
  color: white;
}

#overeating-msg, #overdrinking-msg {
  font-weight: normal;
}

#nav-food, #nav-exercise {
  max-height: 55%;
  overflow: auto;
}