
body {
  background: url(../images/Lyfestyle_background_2.png); 
/*  background-repeat: no-repeat; */
  background-size: 100%; 
  color: white; 
  font-family: sans-serif; 
  padding: 2%; 
}

h1 {
  color: white;
  font-weight: bold; 
  text-shadow: 2px 2px black;
}

label {
  color: rgb(53, 53, 53);
}

#lyfestyle-logo {
/*  margin-bottom: 2em; */
  height: 16em; 
}

.main-login-form {
  padding: 0 0 1% 0;
  font-weight: bold; 
  width: 40em; 
}

.login-group {
  margin-top: 1em;
}

.login-group input {
/*  background-color: red; */
  padding-bottom: 0.2em;
}


.etc-login-form {
  color: white;
}

.etc-login-form a {
  color: white;
}

ul {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
}

#search-area {
  align-content: center;
}

ul li a {
  border: 1px solid white; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  display: block; /* Make it into a block element to fill the whole list */
  text-align: center;
  background-color: rgba(106, 107, 167, 0.658);
}

ul li:hover {
  background-color: rgb(57, 204, 209);
}

#search-list {
  margin-top: 2em;
  margin-bottom: 2em;
  max-height: 70%; /* 1.5 x 3 */
  overflow-y: auto;
  width: 80%;
}

#keyword, #search-list {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#keyword {
  margin-top: 2em;
}

#keyword {
  min-width: 25em;
  min-height: 2em;
}

#search-foods, #search-exercises {
  display: table;
}

#info-log-area {
  float: left;
}

#search-container, #list-container {
  width: 50%;
  float: left;
}

#overall-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

#list-container {
  text-align: center;
}

ul li.noResults, ul li.noResults a {
  pointer-events: none;
  border: none;
  background-color: transparent;
}

#eatenForm, #exerciseForm {
  display: inline;
} 